body {
    padding-top: 50px;
    padding-bottom: 50px;
}

p{
    margin: 0px;
}

.sticky-top{
    top:54px !important;
}

small {
    font-size: xx-small !important;
}

#copy-text {
    white-space: nowrap;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: hidden;
}

/*
.progress-bar {
    -webkit-transition: width 1s ease;
    transition: width 1s ease;
}
/*