body {
    padding-top: 50px;
    padding-bottom: 50px;
}

p{
    margin: 0px;
}

small {
    font-size: xx-small !important;
}

footer div {
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: hidden;
}